#lightningTip > a {
    font-weight: 600 !important;
}

#lightningTip {
    background-color: #FFFFFF !important;

    border: 2px #BDBDBD solid !important;

    color: #FFB300 !important;

}

.lightningTipInput {
    border: 1px #BDBDBD solid !important;

    background-color: #FFFFFF !important;
}

.lightningTipButton {
    color: #FFFFFF !important;

    background-color: #FFB300 !important;
}

#lightningTipError {
    color: #D50000 !important;

    font-weight: 600 !important;
}

#lightningTipCopy {
    border-right: 1px solid #FFFFFF !important;
}

#lightningTipExpiry {
    font-weight: 600 !important;
}