# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
/lightningTip
/tipreport

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Jetbrain GoLand
.idea

# Log file
lightningTip.log

# Config file
lightningTip.conf

# Dep vendor directory
vendor
_vendor*